#img{

 /* margin-left: 400px; */
   
    width: 700px;
}


#profileImage{
    width: 200px;
}

@media only screen and (max-width:770px) and (min-width:0px){
    #login{
        display: none;
    }
    #signup{
        display: none;
    }
}


@media only screen and (max-width:620px) and (min-width:100px){
    #card{
        display: block;
    }
}
#send{
    height: 300px;
    width: 400px;
}